{#
/**
 * @file
 * BizaboEventsDisplayPage
 * 
 **/
#} 

<div class="">
  <div class="clearfix">
    {% set count = 0 %}
    {% for key,val in events %}
        {% set count = count + 1 %}
        {% set style = (count == 1) ? "display: block;padding: 35px;border:  1px solid #efefef;" : "display: block;padding: 35px;border: 1px solid #efefef;" %}	
            <span class="col-sm p-3" style="{{ style }}">
               <p>
                 <span class="eventmonth">{{ val.month }}</span>
                 <span class="eventicon"></span>
               </p>
               <p class="clearfix">
                 {% if val.field_start_date == val.field_end_date %}
                    <span class="eventdate">{{ val.field_start_date }}</span>
                 {% else %}	
                    <span class="eventdate">{{ val.field_start_date }} - {{ val.field_end_date }}</span>
                 {% endif %}
               </p>
               <p class="clearfix eventsTxt h-25">{{ val.description|slice(0, 50) ~ '...' }}</p>
               <p class="eventvenue"><span class="eventtiming"> {{ val.field_start_time }} - {{ val.field_end_time }} </span>
               </p>
               <p>
                 <span class="eventlocation">{{ val.location }}</span>
               </p>
            </span>
    {% endfor %}
  </div>
</div> 
